a.navbar-link {
  font-size: 18px;
  color: #8a8989;
}

a.navbar-link:visited {
  color: #8a8989;
}

a.navbar-link:hover {
  text-decoration: none;
  color: #333333;
}
a.navbar-link:focus {
  text-decoration: none;
  color: #333333;
}

.dropdown {
  display: inline-block;
}

.link-container {
  width: 852px; //need media query for small displays and mobile. May need to adjust width.
  margin: 0 auto;
}

.left-divider {
  border-left: solid 1px #E7E7E7;
}

.navbar-link {
  margin: 10px;
}
