nav.navbar-upper {
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-lower {
  height: 30px;
  border-bottom: solid 1px #E7E7E7;
}

li.left-divider {
  border-left: solid 1px #E7E7E7;
}

button.btn {
  margin-top: 9px;
}
