// nav.navbar {
//   margin-bottom: 0px;
//   border-radius: 0px;
// }
//
// li.left-divider {
//   border-left: solid 1px #E7E7E7;
// }
//
// .aaaa {
// }
//
// .bbbb {
//   border-left: solid 2px red;
//   border-right: solid 2px red;
//   margin: 0 auto !important;
//   align-self: center;
// }

.health-navbar {
  width: 1000px;
  height: 150px;
  border: solid 2px red;
}

.nav-list {
  border: solid 1px blue;
  margin: 0 auto !important;
}
